/* Budget Item Modal Styles */

/* Remove number input spinners */
input[type="number"]#qty,
input[type="number"]#rate {
  -moz-appearance: textfield !important;
  -webkit-appearance: none !important;
  appearance: textfield !important;
}

input[type="number"]#qty::-webkit-outer-spin-button,
input[type="number"]#qty::-webkit-inner-spin-button,
input[type="number"]#rate::-webkit-outer-spin-button,
input[type="number"]#rate::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  display: none !important;
}
